@mixin display1600 {
  @media screen and (max-width: 1600px) {
    @content;
  }
}

@mixin display1400 {
  @media screen and (max-width: 1400px) {
    @content;
  }
}

@mixin display1200 {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1080px) {
    @content;
  }
}

@mixin tablet768 {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin phone640 {
  @media screen and (max-width: 640px) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin phone320 {
  @media screen and (max-width: 320px) {
    @content;
  }
}

.ProfileMenuItem {
  &:hover,
  &.is-active {
    .ProfileMenuItem-icon {
      svg {
        * {
          stroke: #ed484f !important;
        }
      }
    }
    .ProfileMenuItem-link {
      color: #ed484f;
    }
  }
  .ProfileMenuItem-link {
    display: flex;
    align-items: center;
    padding: .3rem 0;
  }
  .ProfileMenuItem-icon {
    svg {
      width: 16px;
      height: 16px;

    }
  }
  .ProfileMenuItem-label {
    margin-left: 1rem;
  }
}
