@mixin display1600 {
    @media screen and (max-width: 1600px) {
        @content;
    }
}

@mixin display1400 {
    @media screen and (max-width: 1400px) {
        @content;
    }
}

@mixin display1200 {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 1080px) {
        @content;
    }
}

@mixin tablet768 {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin phone640 {
    @media screen and (max-width: 640px) {
        @content;
    }
}

@mixin phone {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin phone320 {
    @media screen and (max-width: 320px) {
        @content;
    }
}

.address-block {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    .address-select {
        display: flex;
        align-items: flex-start;
        p {
            margin: 0;
        }
    }
    .address-control {
        display: flex;
        align-items: flex-start;
        .control-option{ 
            margin-left: 10px;
            cursor: pointer;
            &:hover{ 
                color: #ed484f;
            }
        }
    }
    
}

